<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Nhập tên sản phẩm</ion-label>
    <ion-input [(ngModel)]="tensp"></ion-input>
  </ion-item>

  <ion-item>
    <input type="file" (change)="getFile($event)">
  </ion-item>

  <a *ngIf="downloadURL" [href]="downloadURL" class="alert alert-danger">LINK DOWNLOAD HÌNH ẢNH</a>

  <ion-button color="tertiary" expand="full" (click)="add()">UPLOAD HÌNH ẢNH VÀO STORAGE</ion-button>
</ion-content>